* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.logo_think-thai {
    width: 5rem;
}

.mobile-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0rem 1rem;
}

.topnav {
    overflow: hidden;
    background-color: #dedede;
    position: relative;
    width: 50%;
    cursor: pointer;
}

.topnav #myLinks {
    display: none;
}

.topnav a {
    color: #2a2828;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.active {
    background-color: #fff;
}

.btn-nav {
    background-color: #2096f3;
    color: #fff;
    border-radius: 5px;
    border-color: #dedede;
    padding: 0.5rem 1.8rem;
    cursor: pointer;
}

/* ----------------  ------------------ */
.announcement {
    display: none;
    background-color: gold;
    margin: 0.5rem 0
}

.announcement p {
    font-size: 1rem;
}


/* --------------------------------------- */
header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    align-items: center;
    justify-content: center;
    border-bottom: #2a2828 solid 2px;
}

.head {
    display: flex;
    margin-top: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header img {
    width: 20rem;
    margin: 0rem auto
}

.btn-apply {
    margin-top: 1rem;
    padding: 1rem 2rem;
    background-color: mediumturquoise;
    border-radius: 5px;
    border: 2px #dedede;
    cursor: pointer;
}

.header-icons {
    margin-top: 1rem;
    font-size: 2rem;
}

/* ----------------------------------- */

.section_one {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e3efef;
}

.section_one img {
    width: 20rem;
    margin: 0rem auto
}

.main-content {
    padding: 0 3rem;
    margin: 1rem 3rem;
}


/* -------------------------------- */

.section_two {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: #7ced76 solid;

}

.section_two>div {
    margin: 2rem;
    border: #2096f3 solid;
}

.section_two img {
    width: 15rem;
}

/* ------------------------------- */
footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 2rem;
    text-align: center;
    border-bottom: #2096f3 solid;
}

footer>div {
    margin-bottom: 2rem;
}

.footer-list {
    list-style-type: none
}

.copyright {
    text-align: center;
    margin-bottom: 2rem;
}