* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.mobile-container img {
    width: 4rem;
}

.mobile-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.2rem 1rem;
}

.mobile-container i {
    position: fixed;
    top: 2rem;
    right: 1.3rem;
}

.nav-popup {
    background-color: #4f4b4b;
    width: 55%;
    position: fixed;
    top: 5rem;
    right: 0;
    border-radius: 2px;
    opacity: 0;
}

.nav-popup * {
    color: #ffffff;
    list-style-type: none;
    padding: 1rem
}

.fa-solid {
    color: rgba(10, 9, 9, 0.2);
    font-size: 1.5rem;
    background: rgba(255, 255, 255);
    pointer-events: all;
}

.fa-xmark {
    font-size: 2.3rem;
    opacity: 0;
}

.show *{
    z-index: 111;
    opacity: 1;
}
/* --------------------------------------- */
header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    align-items: center;
    justify-content: center;
    border: #2a2828 solid 2px;
}

.head {
    display: flex;
    margin-top: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header img {
    width: 20rem;
    margin: 0rem auto
}

.btn-apply {
    margin-top: 1rem;
    padding: 1rem 2rem;
    background-color: mediumturquoise;
    border-radius: 5px;
    border: 2px #dedede;
    cursor: pointer;
}

.header-icons {
    margin-top: 1rem;
    font-size: 2rem;
}

/* ----------------------------------- */

.section_one {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e3efef;
}

.section_one img {
    width: 20rem;
    margin: 0rem auto
}

.main-content {
    padding: 0 3rem;
    margin: 1rem 3rem;
}


/* -------------------------------- */

.section_two {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: #7ced76 solid;

}

.section_two>div {
    margin: 2rem;
    border: #2096f3 solid;
}

.section_two img {
    width: 15rem;
}

/* ------------------------------- */
footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 2rem;
    text-align: center;
    border-bottom: #2096f3 solid;
}

footer>div {
    margin-bottom: 2rem;
}

.footer-list {
    list-style-type: none
}

.copyright {
    text-align: center;
    margin-bottom: 2rem;
}