* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    box-shadow: 0px 8px 8px 1px #f0ece2;

}

.mobile-container img {
    width: 5rem;
    padding: 1.5rem 0;
}

.mobile-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    box-shadow: 4px 5px 6px 2px #c7b198;
}

.mobile-container i {
    position: fixed;
    top: 1.5rem;
    right: 1.3rem;
}

.nav-popup {
    background-color: #596e79;
    width: 65%;
    position: fixed;
    top: 5rem;
    right: 0;
    border-radius: 2px;
    opacity: 0;
}

.nav-popup * {
    color: #ffffff;
    list-style-type: none;
    padding: 1rem
}

.nav-popup a {
    text-decoration: none;
    letter-spacing: 0.1em;
    font-size: 1.2rem;
}

.nav-popup a:hover {
    font-weight: 600;
    text-decoration: underline;
}

.fa-bars {
    color: #c7b198;
    font-size: 2rem;
    border-radius: 5px;
}

.fa-xmark {
    background: rgba(255, 255, 255);
    color: #c7b198;
    font-size: 2.8rem;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
}

.show * {
    opacity: 1;
    pointer-events: painted;
    transition: all 0.2s ease-in-out;
}

/* ------------------- HEADER -------------------- */

header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 100%;
    height: 890px;
    background: url(./images/cover-phone.png);
    background-size: cover;
}

.head h1 {
    font-size: 2rem;
   margin-bottom: 3rem;
}
.head h2 {
    font-size: 1rem;

}

.btn-apply {
    margin-top: 1rem;
    padding: 0.7rem 2rem;
    background: #c7b198;
    color: #fff;
    border-radius: 50px;
    border: 2px #dedede;
    cursor: pointer;
    font-size: 1rem;
    box-shadow: 4px 5px 6px 2px #596e79;
}

/* ----------------------------------- */

.section_one {
    display: flex;
    flex-direction: column;
    border-top: 3px dashed #fff;
    color: #596e79;
    background: url(./images/Contact2.png) no-repeat;
    background-size: cover;
    justify-content: center;
 
    margin: 2rem 0;
}

.section_one img {
    width: 20rem;
    margin: 0rem auto;
    border: 2px #c7b198 solid;
}

.main-content {
    display: grid;
    grid-template-columns: 1fr;
    margin: 1rem 3rem;


    font-size: 1.1rem;
}

.main-content i {
    padding: 1rem 0;
    font-size: 2rem;
}

.main-content p {
    font-size: .9rem;
}

/* ----------------books-container ------------- */

.books-container {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.books-container h2 {
    font-size: 4rem;
    color: #596e79;
}

.books-container img {
    width: 50%;
}

.books-container h3 {
    font-size: 1.5rem;
    color: #596e79;
}

.books-container button {
    background-color: #c7b198;
    /* Green */
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.books-container div {
    padding: 1rem 0;
}

/* ------------------Onsite --------------- */

.section_onsite {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    border-top: 4px dashed #dfd3c3;
    text-align: center;
}

.section_onsite h2 {
    font-size: 4rem;
    color: #596e79;
}

.section_onsite p {
    margin-top: 2rem;
    font-size: 1.2rem;
    color: #596e79;
}

.section_onsite div {
    padding: 1rem 0;
}

.section_onsite img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.section_onsite h3 {
    font-size: 1rem;
    background: #c7b198;
    color: #fff;
    border-radius: 50px;
    padding: 0.8rem;
    margin: 0 5rem;
    box-shadow: 4px 5px 6px 2px #596e79;
    justify-content: center;
    text-align: center;
}



/* ---------------- Online ---------------- */

.section_online {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 3rem 0;
    border-top: 4px dashed #dfd3c3;
}

.section_online>div {
    margin: 1.5rem auto;
}

.section_online>div>a {
    text-decoration: none;
}

.section_online h2 {
    font-size: 4rem;
    color: #596e79;
}

.section_online p {
    margin-top: 2rem;
    font-size: 1.2rem;
    color: #596e79;
}

.section_online h3 {
    font-size: 1rem;
    background: #c7b198;
    color: #fff;
    border-radius: 50px;
    padding: 0.8rem;
    margin: 0 7rem;
    box-shadow: 4px 5px 6px 2px #596e79;
}

.section_online img {
    object-fit: cover;
    width: 80%;
    height: 100%;
}

/* ------------     GPT     --------------- */

.cta {
    text-align: center;
    margin: 50px 0;
}

.cta h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #c7b198;
    color: #FFFFFF;
    margin: 0 auto;
}

.btn:hover {
    background-color: #596e79;
}

.contact {
    margin: 3rem auto;
    color: #596e79;
    max-width: 390px;
    padding: 0 2rem;
}

.contact h2 {
    font-size: 36px;
    margin-bottom: 20px;
    justify-content: center;
    text-align: center;
}

.contact p {
    font-size: 20px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 20px;
    margin-bottom: 10px;
}

input,
textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
}

button[type="submit"] {
    align-self: flex-end;
}


/* ------------------------------- */
footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    background-color: #f0ece2;
    color: #596e79;
}

.footer-details * {
    list-style-type: none;
    text-decoration: none;
    color: #596e79;
}

.footer-details li {
    letter-spacing: 1px;
    padding: 1rem;
    border-bottom: 1px solid #dfd3c3;
}

.header-icons i {
    font-size: 2rem;
    color: #596e79;
    letter-spacing: 18px
}

footer div:nth-child(2) {
    padding: 1rem;
}

/* ---------------- Copyright ---------------- */
.copyright {
    background-color: #596e79;
    width: 100%;
    height: 90px;
}

.copyright p {
    color: #f0ece2;
    text-align: center;
    padding: 2rem;
}